# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Environment
.env
.env.local

# Example
example/ios/Pods/
example/android/.gradle/
example/build/
example/.dart_tool/
